click==7.1.2
clink==0.23.0
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
frontend
tool
gunicorn==20.1.0
Jinja2==2.11.3
joblib==1.0.1
jsonschema==2.6.0
module==0.0.4
numpy==1.19.5
pandas==1.2.3
sklearn==0.0
tmdbv3api==1.7.5
tools
utils==1.0.1